<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KingsDamageMeter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KingsDamageMeter.Properties.Settings>
            <setting name="WindowMainX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMainY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMainOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowMainTopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AionLogPath" serializeAs="String">
                <value>C:\Program Files\NCSoft\Aion\Chat.log</value>
            </setting>
            <setting name="HelpFilePath" serializeAs="String">
                <value>Documentation.pdf</value>
            </setting>
        </KingsDamageMeter.Properties.Settings>
    </userSettings>
</configuration>