<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KingsDamageMeter.Languages.Gui" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KingsDamageMeter.Languages.Regex" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KingsDamageMeter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KingsDamageMeter.Properties.Settings>
            <setting name="WindowMainX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMainY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMainOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowMainTopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AionLogPath" serializeAs="String">
                <value>C:\Program Files\NCSoft\Aion\Chat.log</value>
            </setting>
            <setting name="HelpFilePath" serializeAs="String">
                <value>Documentation.pdf</value>
            </setting>
            <setting name="WindowMainWidth" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="WindowMainHeight" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="LogTimeFormat" serializeAs="String">
                <value>yyyy.MM.dd hh:mm:ss</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugFile" serializeAs="String">
                <value>Debug.log</value>
            </setting>
            <setting name="IsGroupOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DisplayType" serializeAs="String">
                <value>Damage</value>
            </setting>
            <setting name="IsHideOthers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedLanguage" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="YouAlias" serializeAs="String">
                <value>You</value>
            </setting>
            <setting name="SelectedLogLanguage" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="EncountersWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IsEncountersExpanded" serializeAs="String">
                <value>False</value>
            </setting>
        </KingsDamageMeter.Properties.Settings>
    </userSettings>
</configuration>