<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KingsDamageMeter.Languages.En" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KingsDamageMeter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KingsDamageMeter.Languages.En>
            <setting name="MinimizeToolTip" serializeAs="String">
                <value>Minimize</value>
            </setting>
            <setting name="OptionsToolTip" serializeAs="String">
                <value>Options</value>
            </setting>
            <setting name="CloseToolTip" serializeAs="String">
                <value>Close</value>
            </setting>
            <setting name="OpacityToolTip" serializeAs="String">
                <value>Opacity</value>
            </setting>
            <setting name="TopMostToolTip" serializeAs="String">
                <value>TopMost</value>
            </setting>
            <setting name="ResizeToolTip" serializeAs="String">
                <value>Resize</value>
            </setting>
            <setting name="OptionsMenuLocateLog" serializeAs="String">
                <value>Locate Log...</value>
            </setting>
            <setting name="OptionsMenuIgnoreList" serializeAs="String">
                <value>Ignore List...</value>
            </setting>
            <setting name="OptionsMenuHelp" serializeAs="String">
                <value>Help</value>
            </setting>
            <setting name="OptionsMenuAbout" serializeAs="String">
                <value>About</value>
            </setting>
            <setting name="PlayerMenuCopyYou" serializeAs="String">
                <value>Copy You</value>
            </setting>
            <setting name="PlayerMenuCopyAll" serializeAs="String">
                <value>Copy All</value>
            </setting>
            <setting name="PlayerMenuHideOthers" serializeAs="String">
                <value>Hide Others</value>
            </setting>
            <setting name="PlayerMenuRemove" serializeAs="String">
                <value>Remove</value>
            </setting>
            <setting name="PlayerMenuIgnore" serializeAs="String">
                <value>Ignore</value>
            </setting>
            <setting name="PlayerMenuSortName" serializeAs="String">
                <value>Sort by Name</value>
            </setting>
            <setting name="PlayerMenuSortDamage" serializeAs="String">
                <value>Sort by Damage</value>
            </setting>
            <setting name="PlayerMenuClearAll" serializeAs="String">
                <value>Clear All</value>
            </setting>
            <setting name="PlayerMenuGroupOnly" serializeAs="String">
                <value>Group Only</value>
            </setting>
            <setting name="PlayerMenuGroupMember" serializeAs="String">
                <value>Group Member</value>
            </setting>
            <setting name="OKButton" serializeAs="String">
                <value>OK</value>
            </setting>
            <setting name="CancelButton" serializeAs="String">
                <value>Cancel</value>
            </setting>
            <setting name="AddGroupMemberTitle" serializeAs="String">
                <value>Add Group Member</value>
            </setting>
            <setting name="InvalidNameMessage" serializeAs="String">
                <value>Invalid name.</value>
            </setting>
        </KingsDamageMeter.Languages.En>
        <KingsDamageMeter.Properties.Settings>
            <setting name="WindowMainX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMainY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMainOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowMainTopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AionLogPath" serializeAs="String">
                <value>C:\Program Files\NCSoft\Aion\Chat.log</value>
            </setting>
            <setting name="HelpFilePath" serializeAs="String">
                <value>Documentation.pdf</value>
            </setting>
            <setting name="WindowMainWidth" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="WindowMainHeight" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="LogTimeFormat" serializeAs="String">
                <value>yyyy.MM.dd hh:mm:ss</value>
            </setting>
            <setting name="GroupOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideOthers" serializeAs="String">
                <value>False</value>
            </setting>
        </KingsDamageMeter.Properties.Settings>
    </userSettings>
</configuration>