<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KingsDamageMeter.Languages.Regex" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KingsDamageMeter.Languages.En" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KingsDamageMeter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KingsDamageMeter.Languages.Regex>
            <setting name="DamageInflicted" serializeAs="String">
                <value>(?&lt;time&gt;[^a-zA-Z]+) : (?&lt;name&gt;.+) inflicted (?&lt;damage&gt;[^a-zA-Z]+) damage on (?&lt;target&gt;.+)\.</value>
            </setting>
            <setting name="DamageInflictedSkill" serializeAs="String">
                <value>(?&lt;time&gt;[^a-zA-Z]+) : (?&lt;name&gt;.+) inflicted (?&lt;damage&gt;[^a-zA-Z]+) damage on (?&lt;target&gt;.+).+by using (?&lt;skill&gt;.+)\.</value>
            </setting>
            <setting name="CriticalInflicted" serializeAs="String">
                <value>(?&lt;time&gt;[^a-zA-Z]+) : Critical Hit! (?&lt;name&gt;.+) inflicted (?&lt;damage&gt;[^a-zA-Z]+) critical damage on (?&lt;target&gt;.+)\.</value>
            </setting>
            <setting name="ContinuousInflicted" serializeAs="String">
                <value>(?&lt;time&gt;[^a-zA-Z]+) : (?&lt;name&gt;.+) inflicted continuous damage on (?&lt;target&gt;.+).+by using (?&lt;skill&gt;.+)\.</value>
            </setting>
            <setting name="OtherContinuousInflicted" serializeAs="String">
                <value>(?&lt;time&gt;[^a-zA-Z]+) : (?&lt;name&gt;.+) used (?&lt;skill&gt;.+) to inflict the continuous damage effect on (?&lt;target&gt;.+)\.</value>
            </setting>
            <setting name="SkillDamageInflicted" serializeAs="String">
                <value>(?&lt;time&gt;[^a-zA-Z]+) : (?&lt;target&gt;.+) received (?&lt;damage&gt;[^a-zA-Z]+) damage due to the effect of (?&lt;skill&gt;.+)\.</value>
            </setting>
            <setting name="JoinedGroup" serializeAs="String">
                <value>(?&lt;time&gt;[^a-zA-Z]+) : (?&lt;name&gt;.+) has joined your group\.</value>
            </setting>
            <setting name="LeftGroup" serializeAs="String">
                <value>(?&lt;time&gt;[^a-zA-Z]+) : (?&lt;name&gt;.+) has left your group\.</value>
            </setting>
            <setting name="PetSummoned" serializeAs="String">
                <value>(?&lt;time&gt;[^a-zA-Z]+) : (?&lt;name&gt;.+) summoned (?&lt;pet&gt;.+) by using (?&lt;skill&gt;.+) to let it attack (?&lt;target&gt;.+)\.</value>
            </setting>
            <setting name="OtherPetSummoned" serializeAs="String">
                <value>(?&lt;time&gt;[^a-zA-Z]+) : (?&lt;name&gt;.+) has summoned (?&lt;pet&gt;.+) to attack (?&lt;target&gt;.+) by using (?&lt;skill&gt;.+)\.</value>
            </setting>
            <setting name="DamageReceived" serializeAs="String">
                <value>(?&lt;time&gt;[^a-zA-Z]+) : (?&lt;name&gt;[a-zA-Z]+) received (?&lt;damage&gt;[^a-zA-Z]+) damage</value>
            </setting>
            <setting name="Chat" serializeAs="String">
                <value>\[charname:</value>
            </setting>
        </KingsDamageMeter.Languages.Regex>
        <KingsDamageMeter.Languages.En>
            <setting name="MinimizeToolTip" serializeAs="String">
                <value>Minimize</value>
            </setting>
            <setting name="OptionsToolTip" serializeAs="String">
                <value>Options</value>
            </setting>
            <setting name="CloseToolTip" serializeAs="String">
                <value>Close</value>
            </setting>
            <setting name="OpacityToolTip" serializeAs="String">
                <value>Opacity</value>
            </setting>
            <setting name="TopMostToolTip" serializeAs="String">
                <value>TopMost</value>
            </setting>
            <setting name="ResizeToolTip" serializeAs="String">
                <value>Resize</value>
            </setting>
            <setting name="OptionsMenuLocateLog" serializeAs="String">
                <value>Locate Log...</value>
            </setting>
            <setting name="OptionsMenuIgnoreList" serializeAs="String">
                <value>Ignore List...</value>
            </setting>
            <setting name="OptionsMenuHelp" serializeAs="String">
                <value>Help</value>
            </setting>
            <setting name="OptionsMenuAbout" serializeAs="String">
                <value>About</value>
            </setting>
            <setting name="PlayerMenuCopyYou" serializeAs="String">
                <value>Copy You</value>
            </setting>
            <setting name="PlayerMenuCopyAll" serializeAs="String">
                <value>Copy All</value>
            </setting>
            <setting name="PlayerMenuHideOthers" serializeAs="String">
                <value>Hide Others</value>
            </setting>
            <setting name="PlayerMenuRemove" serializeAs="String">
                <value>Remove</value>
            </setting>
            <setting name="PlayerMenuIgnore" serializeAs="String">
                <value>Ignore</value>
            </setting>
            <setting name="PlayerMenuSortName" serializeAs="String">
                <value>Sort by Name</value>
            </setting>
            <setting name="PlayerMenuSortDamage" serializeAs="String">
                <value>Sort by Damage</value>
            </setting>
            <setting name="PlayerMenuClearAll" serializeAs="String">
                <value>Clear All</value>
            </setting>
            <setting name="PlayerMenuGroupOnly" serializeAs="String">
                <value>Group Only</value>
            </setting>
            <setting name="PlayerMenuGroupMember" serializeAs="String">
                <value>Group Member</value>
            </setting>
            <setting name="OKButton" serializeAs="String">
                <value>OK</value>
            </setting>
            <setting name="CancelButton" serializeAs="String">
                <value>Cancel</value>
            </setting>
            <setting name="AddGroupMemberTitle" serializeAs="String">
                <value>Add Group Member</value>
            </setting>
            <setting name="InvalidNameMessage" serializeAs="String">
                <value>Invalid name.</value>
            </setting>
            <setting name="OptionsMenuResetDamage" serializeAs="String">
                <value>Reset Damage</value>
            </setting>
            <setting name="PlayerMenuAddMemberByName" serializeAs="String">
                <value>Add Member by Name</value>
            </setting>
        </KingsDamageMeter.Languages.En>
        <KingsDamageMeter.Properties.Settings>
            <setting name="WindowMainX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMainY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMainOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowMainTopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AionLogPath" serializeAs="String">
                <value>C:\Program Files (x86)\NCSoft\Aion\Chat.log</value>
            </setting>
            <setting name="HelpFilePath" serializeAs="String">
                <value>Documentation.pdf</value>
            </setting>
            <setting name="WindowMainWidth" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="WindowMainHeight" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="LogTimeFormat" serializeAs="String">
                <value>yyyy.MM.dd hh:mm:ss</value>
            </setting>
            <setting name="GroupOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideOthers" serializeAs="String">
                <value>False</value>
            </setting>
        </KingsDamageMeter.Properties.Settings>
    </userSettings>
</configuration>